table {
	border: 3px solid black;
	text-align: center;
	width: 400px;
	height: 650px;
	margin: auto;
	padding:10px;
	border-collapse: separate;
	border-spacing: 5px 5px;
	table-layout: fixed;




}
tr,td {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	word-wrap: break-word; 
	color:blue;
	font-size: 1.1em;
}
caption {
	font-size: 25px;
	font-weight: bold;
}
a:hover {color: black;
	
}
.sombrear:hover {
	background: #ddd;
	width: 25%;

}

tt